@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Contact Section -->
<section class="contact-section">
    <div class="bg bg-image wow reveal-top tm-gsap-img-parallax overflow-hidden">
        <img alt="Image" data-cfsrc="../../images/background/bg-contact5.jpg" style="display:none;visibility:hidden;"><noscript><img src="../../images/background/bg-contact5.jpg" alt="Image"></noscript>
    </div>
    <div class="icon icon-contact-shape1" style="background-image: url(../../images/icons/shape-4.png)"></div>
    <div class="auto-container">
        <div class="outer-box">
            <div class="row">

                <!-- Form Column -->
                <div class="form-column col-lg-8 offset-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Contact Form -->
                        <div class="contact-form wow fadeInLeft">
                            <div class="icon-anchor-1 bounce-y"></div>
                            <div class="sec-title">
                                <span class="sub-title style-three">Contact Us</span>
                                <h2>Get in Touch</h2>
                            </div>

                            <!--Contact Form-->
                            <form method="post" action="https://html.kodesolution.com/2025/hoteler-html/get" id="contact-form">
                                <div class="row">

                                    <div class="form-group col-lg-6 col-md-6">
                                        <input type="text" name="name" placeholder="Your Name" required>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        <input type="email" name="email" placeholder="Email Address" required>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        <input type="text" name="phone" placeholder="Check In" required>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6">
                                        <input type="text" name="subject" placeholder="Check Out" required>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <textarea name="textarea" placeholder="Write a Message" rows="2"></textarea>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <button type="submit" class="theme-btn btn-style-one bg-dark" name="submit-form"><span class="btn-title">Check Availability</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End Contact Form -->

                        <div class="contact-block">
                            <div class="inner-box">
                                <figure class="image icon-contact1"><img alt="Image" data-cfsrc="../../images/icons/icon-call-2.png" style="display:none;visibility:hidden;"><noscript><img src="../../images/icons/icon-call-2.png" alt="Image"></noscript></figure>
                                <div class="content-box">
                                    <figure class="icon-img"><img alt="" data-cfsrc="../../images/icons/icon-call-1.png" style="display:none;visibility:hidden;"><noscript><img src="../../images/icons/icon-call-1.png" alt=""></noscript></figure>
                                    <span class="text">Call us for any inquiry</span>
                                    <a class="text-two" href="tel:+8801750050088">(801) 500 50 088</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->
