@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Form Section -->
<div class="checkout-form-section-two">
    <div class="container">
        <div class="checkout-form">
            <div class="checkout-field">
                <h4>Check-In</h4>
                <div class="chk-field">
                    <input class="date-pick" type="text" placeholder="31 Dec 2025" />
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="checkout-field">
                <h4>Check-Out</h4>
                <div class="chk-field">
                    <input class="date-pick" type="text" placeholder="31 Dec 2025" />
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
            <div class="checkout-field select-field br-0">
                <h4>Quests</h4>
                <div class="chk-field">
                    <i class="fas fa-angle-down"></i>
                    <select>
                        <option>2 </option>
                        <option>1 </option>
                        <option>2 </option>
                        <option>3 </option>
                    </select>
                </div>
            </div>
            <a href="page-contact.html" class="theme-btn btn-style-one"><span class="btn-title">CHECK <br />AVAILABILITY</span></a>
        </div>
    </div>
</div>
<!-- End Form Section -->
