@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- pricing-section -->
<section class="pricing-section">
    <div class="auto-container">
        <div class="sec-title text-center wow fadeInUp">
            <span class="sub-title">Hoteler best menus</span>
            <h2>Unique Specialty Foods</h2>
        </div>
        <div class="row gx-xl-5 wow slideInUp">
            <!-- pricing-block -->
            <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="thumb overlay-anim"><a href="page-pricing.html"><img alt="" data-cfsrc="images/resource/pricing2-1.png" style="display:none;visibility:hidden;"><noscript><img src="images/resource/pricing2-1.png" alt=""></noscript></a></figure>
                    <div class="content-box">
                        <h6 class="title">Pasta With Fish<span>$39</span></h6>
                        <span class="designation">Lorem Ipsum is that it smt</span>
                    </div>
                    <span class="food-pack">starter</span>
                </div>
            </div>
            <!-- pricing-block -->
            <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="thumb overlay-anim"><a href="page-pricing.html"><img alt="" data-cfsrc="images/resource/pricing2-2.png" style="display:none;visibility:hidden;"><noscript><img src="images/resource/pricing2-2.png" alt=""></noscript></a></figure>
                    <div class="content-box">
                        <h6 class="title">Noodles<span>$16</span></h6>
                        <span class="designation">Lorem Ipsum is that it smt</span>
                    </div>
                    <span class="food-pack">new</span>
                </div>
            </div>
            <!-- pricing-block -->
            <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="thumb overlay-anim"><a href="page-pricing.html"><img alt="" data-cfsrc="images/resource/pricing2-3.png" style="display:none;visibility:hidden;"><noscript><img src="images/resource/pricing2-3.png" alt=""></noscript></a></figure>
                    <div class="content-box">
                        <h6 class="title">Fresh Meat<span>$26</span></h6>
                        <span class="designation">Lorem Ipsum is that it smt</span>
                    </div>
                    <span class="food-pack">new</span>
                </div>
            </div>
            <!-- pricing-block -->
            <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="thumb overlay-anim"><a href="page-pricing.html"><img alt="" data-cfsrc="images/resource/pricing2-4.png" style="display:none;visibility:hidden;"><noscript><img src="images/resource/pricing2-4.png" alt=""></noscript></a></figure>
                    <div class="content-box">
                        <h6 class="title">Chicken<span>$19</span></h6>
                        <span class="designation">Lorem Ipsum is that it smt</span>
                    </div>
                    <span class="food-pack">vegan</span>
                </div>
            </div>
            <!-- pricing-block -->
            <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="thumb overlay-anim"><a href="page-pricing.html"><img alt="" data-cfsrc="images/resource/pricing2-5.png" style="display:none;visibility:hidden;"><noscript><img src="images/resource/pricing2-5.png" alt=""></noscript></a></figure>
                    <div class="content-box">
                        <h6 class="title">Spaghetti<span>$37</span></h6>
                        <span class="designation">Lorem Ipsum is that it smt</span>
                    </div>
                    <span class="food-pack">new</span>
                </div>
            </div>
            <!-- pricing-block -->
            <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="thumb overlay-anim"><a href="page-pricing.html"><img alt="" data-cfsrc="images/resource/pricing2-6.png" style="display:none;visibility:hidden;"><noscript><img src="images/resource/pricing2-6.png" alt=""></noscript></a></figure>
                    <div class="content-box">
                        <h6 class="title">Vegetarian Fried<span>$34</span></h6>
                        <span class="designation">Lorem Ipsum is that it smt</span>
                    </div>
                    <span class="food-pack">new</span>
                </div>
            </div>
            <!-- pricing-block -->
            <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="thumb overlay-anim"><a href="page-pricing.html"><img alt="" data-cfsrc="images/resource/pricing2-7.png" style="display:none;visibility:hidden;"><noscript><img src="images/resource/pricing2-7.png" alt=""></noscript></a></figure>
                    <div class="content-box">
                        <h6 class="title">Vegetarian Soup<span>$42</span></h6>
                        <span class="designation">Lorem Ipsum is that it smt</span>
                    </div>
                    <span class="food-pack">glutan free</span>
                </div>
            </div>
            <!-- pricing-block -->
            <div class="pricing-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <figure class="thumb overlay-anim"><a href="page-pricing.html"><img alt="" data-cfsrc="images/resource/pricing2-8.png" style="display:none;visibility:hidden;"><noscript><img src="images/resource/pricing2-8.png" alt=""></noscript></a></figure>
                    <div class="content-box">
                        <h6 class="title">Salmon Pasta<span>$71</span></h6>
                        <span class="designation">Lorem Ipsum is that it smt</span>
                    </div>
                    <span class="food-pack">fish</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End pricing-section -->
