@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Service Section three -->
<section class="service-section-three">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="sub-title">What we offer</span>
            <h2>Get Our Special Offer.</h2>
        </div>
        <div class="outer-box">
            <div class="row">
                <!-- service-block -->
                <div class="service-block-three col-lg-4 col-md-6 wow fadeInUp">
                    <div class="inner-box">
                        <figure class="image"><img alt="" data-cfsrc="images/resource/service1-1.jpg" style="display:none;visibility:hidden;"><noscript><img src="images/resource/service1-1.jpg" alt=""></noscript></figure>
                        <div class="content-box">
                            <h6 class="title"><a href="room-details.html">Family Discount</a></h6>
                        </div>
                    </div>
                </div>
                <!-- service-block -->
                <div class="service-block-three col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="inner-box">
                        <figure class="image"><img alt="" data-cfsrc="images/resource/service1-2.jpg" style="display:none;visibility:hidden;"><noscript><img src="images/resource/service1-2.jpg" alt=""></noscript></figure>
                        <div class="content-box">
                            <h6 class="title"><a href="room-details.html">Couples offer</a></h6>
                        </div>
                    </div>
                </div>
                <!-- service-block -->
                <div class="service-block-three col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <figure class="image"><img alt="" data-cfsrc="images/resource/service1-3.jpg" style="display:none;visibility:hidden;"><noscript><img src="images/resource/service1-3.jpg" alt=""></noscript></figure>
                        <div class="content-box">
                            <h6 class="title"><a href="room-details.html">Buy One Get One Free</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service section -->
    