@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Team Section -->
<section class="team-section">
    <div class="anim-icons">
        <img class="image-1" alt="" data-cfsrc="images/icons/shape-15.png" style="display:none;visibility:hidden;"><noscript><img class="image-1" src="images/icons/shape-15.png" alt=""></noscript>
    </div>
    <div class="auto-container">
        <div class="sec-title text-center wow fadeInUp">
            <span class="sub-title">TEAM MEMBER</span>
            <h2>Check Out Our Expert <br />Hoteler Members</h2>
        </div>
        <div class="row">
            <!-- Team block -->
            <div class="team-block col-lg-3 col-sm-6">
                <div class="inner-box wow fadeInLeft">
                    <div class="image-box">
                        <div class="inner-box">
                            <figure class="image overlay-anim"><a href="page-team-details.html"><img alt="" data-cfsrc="images/resource/team-1.jpg" style="display:none;visibility:hidden;"><noscript><img src="images/resource/team-1.jpg" alt=""></noscript></a></figure>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="page-team-details.html">Michael Dean</a></h4>
                            <span class="designation">CEO & Founder</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-x-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team block -->
            <div class="team-block col-lg-3 col-sm-6">
                <div class="inner-box wow fadeInLeft" data-wow-delay="200ms">
                    <div class="image-box">
                        <div class="inner-box">
                            <figure class="image overlay-anim"><a href="page-team-details.html"><img alt="" data-cfsrc="images/resource/team-2.jpg" style="display:none;visibility:hidden;"><noscript><img src="images/resource/team-2.jpg" alt=""></noscript></a></figure>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="page-team-details.html">Frank Burton</a></h4>
                            <span class="designation">Kitchen Manager</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-x-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team block -->
            <div class="team-block col-lg-3 col-sm-6">
                <div class="inner-box wow fadeInLeft" data-wow-delay="300ms">
                    <div class="image-box">
                        <div class="inner-box">
                            <figure class="image overlay-anim"><a href="page-team-details.html"><img alt="" data-cfsrc="images/resource/team-3.jpg" style="display:none;visibility:hidden;"><noscript><img src="images/resource/team-3.jpg" alt=""></noscript></a></figure>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="page-team-details.html">Mya Mullins</a></h4>
                            <span class="designation">Hotel Manager</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-x-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team block -->
            <div class="team-block col-lg-3 col-sm-6">
                <div class="inner-box wow fadeInLeft" data-wow-delay="400ms">
                    <div class="image-box">
                        <div class="inner-box">
                            <figure class="image overlay-anim"><a href="page-team-details.html"><img alt="" data-cfsrc="images/resource/team-4.jpg" style="display:none;visibility:hidden;"><noscript><img src="images/resource/team-4.jpg" alt=""></noscript></a></figure>
                        </div>
                        <div class="info-box">
                            <h4 class="name"><a href="page-team-details.html">Ralph Nguyen</a></h4>
                            <span class="designation">Room Service</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-x-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Section -->
