@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Testimonial Section Two -->
<section class="testimonial-section-two pt-0">
    <div class="anim-icons">
        <img class="image-1" alt="" data-cfsrc="images/icons/shape-5.png" style="display:none;visibility:hidden;"><noscript><img class="image-1" src="images/icons/shape-5.png" alt=""></noscript>
    </div>
    <div class="auto-container">
        <div class="row">
            <div class="testimonials overflow-hidden col-lg-12">
                <!-- Testimonial Slider -->
                <div class="swiper-container testimonial-slider-content">
                    <div class="swiper-wrapper">
                        <!-- Testimonial Block -->
                        <div class="testimonial-block-two swiper-slide">
                            <div class="inner-box">
                                <div class="quote-icon"><img class="icon-img" alt="" data-cfsrc="images/icons/testi-shape1.png" style="display:none;visibility:hidden;"><noscript><img class="icon-img" src="images/icons/testi-shape1.png" alt=""></noscript></div>
                                <div class="text">Staying at Hoteler was an unforgettable experience. The staff went above and beyond to ensure our comfort and satisfaction. The room was immaculate, with breath-taking views </div>
                                <div class="info-box">
                                    <h5 class="name">Jenny Wilson</h5>
                                    <span class="designation">Business Owner</span>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Block -->
                        <div class="testimonial-block-two swiper-slide">
                            <div class="inner-box">
                                <div class="quote-icon"><img class="icon-img" alt="" data-cfsrc="images/icons/testi-shape1.png" style="display:none;visibility:hidden;"><noscript><img class="icon-img" src="images/icons/testi-shape1.png" alt=""></noscript></div>
                                <div class="text">Staying at Hoteler was an unforgettable experience. The staff went above and beyond to ensure our comfort and satisfaction. The room was immaculate, with breath-taking views </div>
                                <div class="info-box">
                                    <h5 class="name">Marvin McKinney</h5>
                                    <span class="designation">President of Sales</span>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial Block -->
                        <div class="testimonial-block-two swiper-slide">
                            <div class="inner-box">
                                <div class="quote-icon"><img class="icon-img" alt="" data-cfsrc="images/icons/testi-shape1.png" style="display:none;visibility:hidden;"><noscript><img class="icon-img" src="images/icons/testi-shape1.png" alt=""></noscript></div>
                                <div class="text">Staying at Hoteler was an unforgettable experience. The staff went above and beyond to ensure our comfort and satisfaction. The room was immaculate, with breath-taking views </div>
                                <div class="info-box">
                                    <h5 class="name">Jenny Wilson</h5>
                                    <span class="designation">Business Owner</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <!-- Testimonial Thumb -->
                <div class="swiper-container testimonial-thumbs mx-auto">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img alt="" data-cfsrc="images/resource/testi2-thumb1.png" style="display:none;visibility:hidden;" /><noscript><img src="images/resource/testi2-thumb1.png" alt="" /></noscript></div>
                        <div class="swiper-slide"><img alt="" data-cfsrc="images/resource/testi2-thumb2.png" style="display:none;visibility:hidden;" /><noscript><img src="images/resource/testi2-thumb2.png" alt="" /></noscript></div>
                        <div class="swiper-slide"><img alt="" data-cfsrc="images/resource/testi2-thumb3.png" style="display:none;visibility:hidden;" /><noscript><img src="images/resource/testi2-thumb3.png" alt="" /></noscript></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Section Two -->
