
@{
    ViewData["Title"] = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   <!-- Sticky Header  -->
   <header>
      <div class="sticky-header">
        <div class="auto-container">
          <div class="inner-container">
              <div>
            <!--Logo-->
            <div class="logo">
              <a href="index.html"><img alt="" data-cfsrc="../../images/logo-2.png" style="display:none;visibility:hidden;"><noscript><img src="../../images/logo-2.png" alt=""></noscript></a>
            </div>
            <!--Right Col-->
            <div class="nav-outer">
              <!-- Main Menu -->
              <nav class="main-menu">
                <div class="navbar-collapse show collapse clearfix">
                  <ul class="navigation clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                  </ul>
                </div>
              </nav><!-- Main Menu End-->
              <!--Mobile Navigation Toggler-->
              <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
            </div>
          </div>
        </div>
      </div><!-- End Sticky Menu -->
    </div>
	</header>
	<!--End Main Header -->

	<!-- Start main-content -->
	<section class="page-title" style="background-image: url(../../images/background/page-title-bg.png);">
		<div class="auto-container">
			<div class="title-outer text-center">
				<h1 class="title">Rooms</h1>
				<ul class="page-breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li>Rooms</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->
<!-- Room-section two -->
<section class="room-service-section pt-120 pb-60">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="sub-title">CUSTOMER SERVICES</span>
            <h2>Book your stay and <br />relax in luxury</h2>
        </div>
        <div class="row">
            <!-- News Block -->
            <div class="room-service-block-one col-lg-4 col-sm-6 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image mb-0"><a href="Rooms.cshtml.html"><img alt="" data-cfsrc="../../images/resource/room-service1-1.jpg" style="display:none;visibility:hidden;"><noscript><img src="../../images/resource/room-service1-1.jpg" alt=""></noscript></a></figure>
                    </div>
                    <div class="content-box">
                        <div class="inner-box">
                            <h4 class="title"><a href="Rooms.cshtml">Junior Suite</a></h4>
                            <div class="price">$150/ Night</div>
                        </div>
                        <div class="facilities-box align-items-center d-flex justify-content-between">
                            <ul class="facilities-list">
                                <li><i class="fal fa-circle-user me-2"></i> 1-2 Persons</li>
                                <li><i class="fal fa-bed me-2"></i> King Size Bed</li>
                            </ul>
                            <ul class="facilities-list">
                                <li><i class="fal fa-bath me-2"></i> Bathtub</li>
                                <li><i class="fal fa-wifi me-2"></i> Free Wifi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- News Block -->
            <div class="room-service-block-one col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image mb-0"><a href="Rooms.cshtml"><img alt="" data-cfsrc="../../images/resource/room-service1-2.jpg" style="display:none;visibility:hidden;"><noscript><img src="../..images/resource/room-service1-2.jpg" alt=""></noscript></a></figure>
                    </div>
                    <div class="content-box">
                        <div class="inner-box">
                            <h4 class="title"><a href="Rooms.cshtml">Family Suite</a></h4>
                            <div class="price">$250/ Night</div>
                        </div>
                        <div class="facilities-box align-items-center d-flex justify-content-between">
                            <ul class="facilities-list">
                                <li><i class="fal fa-circle-user me-2"></i> 1-2 Persons</li>
                                <li><i class="fal fa-bed me-2"></i> King Size Bed</li>
                            </ul>
                            <ul class="facilities-list">
                                <li><i class="fal fa-bath me-2"></i> Bathtub</li>
                                <li><i class="fal fa-wifi me-2"></i> Free Wifi</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- News Block -->
            <div class="room-service-block-one col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="600ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image mb-0"><a href="room-details.html"><img alt="" data-cfsrc="../../images/resource/room-service1-3.jpg" style="display:none;visibility:hidden;"><noscript><img src="../../images/resource/room-service1-3.jpg" alt=""></noscript></a></figure>
                    </div>
                    <div class="content-box">
                        <div class="inner-box">
                            <h4 class="title"><a href="room-details.html">Business Suite</a></h4>
                            <div class="price">$550/ Night</div>
                        </div>
                        <div class="facilities-box align-items-center d-flex justify-content-between">
                            <ul class="facilities-list">
                                <li><i class="fal fa-circle-user me-2"></i> 1-2 Persons</li>
                                <li><i class="fal fa-bed me-2"></i> King Size Bed</li>
                            </ul>
                            <ul class="facilities-list">
                                <li><i class="fal fa-bath me-2"></i> Bathtub</li>
                                <li><i class="fal fa-wifi me-2"></i> Free Wifi</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Room section -->
