@* @model PaymentProcessRequestModel *@


<div class="card-body">
    <div>
        <label>ReservationId</label>
        <input type="text" class="form-control" id="reservationId" name="reservationId" readonly />
    </div>
    <div>
        <label>CheckInDate</label>
        <input type="text" class="form-control" id="checkInDate" name="checkInDate" readonly />
    </div>
    <div>
        <label>CheckOutDate</label>
        <input type="text" class="form-control" id="checkOutDate" name="checkOutDate" readonly />
    </div>
    <div>
        <label>RoomNumber</label>
        <input type="number" class="form-control" id="roomNumber" name="roomNumber" readonly />
    </div>
    <div>
        <label>ShoppingPrice</label>
        <input type="text" class="form-control" id="shoppingPrice" name="shoppingPrice" readonly />
    </div>
</div>
