@using (Html.BeginForm("NewReservation", "Room", FormMethod.Post, new { @id = "checkoutRoom" }))
{
    <input type="hidden" id="RoomId" name="RoomId" value="@Model.Id" />
    <div class="mb-3">
        <label for="CustomerFirstName">Musteri Isim</label>
        <input type="text" id="CustomerFirstName" name="CustomerFirstName" class="form-control" />
    </div>
    <div class="mb-3">
        <label for="CheckInDate">Giriş Tarihi</label>
        <input type="date" id="CheckInDate" name="CheckInDate" class="form-control" placeholder="dd.MM.yyyy" />
    </div>
    <div class="mb-3">
        <label for="CheckOutDate">Çıkış Tarihi</label>
        <input type="date" id="CheckOutDate" name="CheckOutDate" class="form-control" placeholder="dd.MM.yyyy" />
    </div>
    <div class="mb-3">
        <label for="GuestNumber">Misafir Sayısı</label>
        <input type="number" id="GuestNumber" name="GuestNumber" class="form-control" />
    </div>
    <button type="submit" id="btnReservation" class="btn btn-primary">Rezervasyon Yap</button>
}

<script src="../../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../../assets/vendor/libs/jquery-validation/jquery.validate.js"></script>
<script src="../../assets/vendor/libs/jquery-validation/additional-methods.js"></script>
<script src="../../assets/vendor/libs/jquery-validation/localization/messages_tr.js"></script>

<script>
    $(document).ready(function () {

       $("#checkoutRoom").validate({
                rules: {
                    CustomerFirstName: {
                        required: true,
                        minlength: 5,
                        maxlength: 50
                    },
                    CheckInDate: {
                        required: true,
                       date:true
                    },
                    CheckOutDate:
                    {
                        required: true,
                        date: true
                    },
                    GuestNumber:
                    {
                        required: true,
                        number: true
                    }
                   }
            });


           $('#btnReservation').click(function ()
           {
               var roomId = $("#RoomId").val();
                if(roomId!=null&&roomId!="")
                {
                   var checkInDate = $("#CheckInDate").val();
                   var checkOutDate = $("#CheckOutDate").val();
                   var userName=$("#CustomerFirstName").val();
                   var guestNumber=$("#GuestNumber").val();
                    if ($("#checkoutRoom").valid()) {
                    var diff = new Date(new Date(checkOutDate) - new Date(checkInDate));
                    var days = diff/1000/60/60/24;
                    $('#totalDay').val(days);
                    $.ajax({
                        url: "/Room/CreateReservation",
                        method: "post",
                        data: {
                               'RoomId': roomId,
                               'UserName': userName,
                               'CheckInDate': checkInDate,
                               'CheckOutDate': checkOutDate,
                               'GuestNumber': guestNumber
                           },
                        success: function (result) {
                             $('#newReservationId').val(result.id);
                             $('#ReservationId').val(result.id);
                             $('#CardUserName').val(userName);
                             calcPrice();
                             nextStep();
                             return false;
                        },
                        error: function (err) {
                            console.dir(err);
                            ScreenMessage("error", "Hata Oluştu", err);
                        }
                    })
                    }
               }
               else {
                   ScreenMessage("error", "Hata Oluştu", "Oda Seçmelisiniz.");
               }
           });
       });
</script>