
<!-- Main Header-->
<header class="main-header header-style-five">
    <div class="header-top">
        <div class="inner-box">
            <!-- Top-left -->
            <div class="top-left">
                <ul class="social-icon-one">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-x-twitter"></i></a></li>
                </ul>
            </div>
            <!-- top-right -->
            <div class="top-right"> 
                <span><i class="icon fa-sharp fa-solid fa-location-dot"></i> Bilge Adam Kadıkoy
              </span>
            </div>
        </div>
    </div>
    <div class="header-lower">
        <!-- Main box -->
        <div class="main-box">
            <div class="logo-box">
                <div class="logo">
                    <a href="/Home">
                        <script type="text/javascript" style="display:none">
                            //<![CDATA[
                            window.__mirage2 = {petok:"VuT5d4DhLg6k13KIiewc6.CN9324RxeBQ91eGMCPrT4-14400-0.0.1.1"};
                            //]]>
                        </script>
                        <script type="text/javascript" src="~/js/mirage2.min.js"></script>
                        <img alt="" title="Hoteler" data-cfsrc="../../images/logo.png" style="display:none;visibility:hidden;"><noscript><img src="../../images/logo.png" alt="" title="Hoteler"></noscript>
                    </a>
                </div>
            </div>

            <!--Nav Box-->
            <div class="nav-outer">
                <nav class="nav main-menu">
                    <ul class="navigation">
                        <li >
                            <a href="/Home">Anasayfa</a>
                           
                        </li>
                        <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                        <li class="dropdown">
                            <a>Odalar</a>
                            <ul>
                                <li>@Html.ActionLink("Odalar", "Index", "Room")</li>
                                <li>@Html.ActionLink("Oda Reservazyonu", "RoomDetail", "Room")</li>
                            </ul>

                      

                        </li>
                       
                        <li>@Html.ActionLink("Iletisim","Contact","Home")</li>
                  

                    </ul>
                </nav>
                <!-- Main Menu End-->
            </div>

            <div class="outer-box">
                <div class="ui-btn-outer">
                    <button class="ui-btn ui-btn search-btn">
                        <span class="icon lnr lnr-icon-search"></span>
                    </button>
                    <a href="shop-cart.html" class="ui-btn cart-btn">
                        <i class="lnr-icon-shopping-cart"></i>
                        <span class="items-count">0</span>
                    </a>
                </div>
                <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
                <!-- Mobile Nav toggler -->
            </div>
        </div>
        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
                <div class="upper-box">
                    <div class="nav-logo"><a href="index.html"><img alt="" data-cfsrc="../../images/logo-2.png" style="display:none;visibility:hidden;"><noscript><img src="../../images/logo-2.png" alt=""></noscript></a></div>
                    <div class="close-btn"><i class="icon fa fa-times"></i></div>
                </div>
                <ul class="navigation clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </ul>
                <ul class="contact-list-one">
                    <li>
                        <!-- Contact Info Box -->
                        <div class="contact-info-box">
                            <i class="icon lnr-icon-phone-handset"></i>
                            <span class="title">Reservasyon icin</span>
                            <a href="tel:+902160000">+90 (216) - 0000</a>
                        </div>
                    </li>
                  
                    <li>
                        <!-- Contact Info Box -->
                        <div class="contact-info-box">
                            <span class="icon lnr-icon-clock"></span>
                            HaftaIcı: 08:00 - 19:30, Pazar - Kapalı
                        </div>
                    </li>
                </ul>
                <ul class="social-links">
                    <li><a href="#"><i class="fab fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </nav>
        </div><!-- End Mobile Menu -->
 
        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container">
                <div class="inner-container">
                    <!--Logo-->
                    <div class="logo">
                        <a href="index.html"><img alt="" data-cfsrc="../../images/logo-2.png" style="display:none;visibility:hidden;"><noscript><img src="../../images/logo-2.png" alt=""></noscript></a>
                    </div>
                    <!--Right Col-->
                    <div class="nav-outer">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-collapse show collapse clearfix">
                                <ul class="navigation clearfix">
                                    <!--Keep This Empty / Menu will come through Javascript-->
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
                    </div>
                </div>
            </div>
        </div><!-- End Sticky Menu -->
    </div>
    
</header>
<!--End Main Header -->